.header-fullbanner{
    background-repeat: no-repeat;
    background-size: cover;
}

.header-principal{
    height: 10vh;
}

.header-principal .logo{
    width: 10vh;
    height: 10vh;
    margin: -10px;
}

.header-principal a{
    color: #fff;
    margin-left: 48px;
    font-size: 20px;
}

.collapse.navbar-collapse.show{
    background-color: transparent;
}

.banner .jumbotron{
    background-color: transparent;
    min-height: 700px;
    color: #fff;
    font-weight: bold;
    font-size: 60px;
}

.banner .jumbotron span.brand{
    color: #FF0000;
}